<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/EileenYeh/AI_TRAVEL_ASSISTANT", target: "_blank", class: "footer-icon" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
