<!-- app/views/chats/show.html.erb -->
<div class="container chat-show">
  <%= render "header", chat: @chat %>
  <%= render "trip_info", chat: @chat %>
  <%= render "messages", messages: @messages %>
  <%= render "message_form", chat: @chat, message: @message %>
</div>
